telebot
openai
langchain==0.0.327
python-dotenv
pypdf
chromadb
tiktoken
tabulate
langid
deep-translator
SpeechRecognition==3.10.0
python-telegram-bot
git+https://github.com/Rapptz/discord.py
ffmpeg
ffmpeg-python